<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="/stylesheets/my.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/step3.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-fixed-top" style="background-color: #BB0826" id="navbarHead">
  <div class="container">
    <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="rightNav">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true" style="color: white"></span>
                </button>
      <a class="navbar-brand" href="#">
        <img src="/img/wf_logo_linear-rgb.png" style="height:13px; margin-top:5px">
      </a>
    </div>

  </div>
</nav>
    <div id="wrapper">
        <!--left Sidebar -->
        <div id="sidebar-wrapper-left" >
            <ul class="sidebar-nav" style="margin-top:20px; >
             <li class="sidebar-brand" >
                 <img src="/img/avatar2.jpg" class="img-responsive img-circle" alt="Responsive image" style="width: 30%;margin-left: 30px;display: inline">
                 <span style="color: #56585B;font-size: 30px;font-style:bold">&nbsp;70</span>
                 <span style="color: #56585B;font-size: 10px;">% Complete</span>
                 <h4 style="margin-left: 30px; color: #56585B">Kathryn Stein</h4>
                 <h8 style="margin-left: 30px; font-size: 10px;color: #56585B">Visibility: Anonymous</h8>
                 <h8 style="margin-left: 30px; font-size: 10px;color: #56585B">Available: Yes</h8>
             </li>
            <li style="text-align: center;background-color: #FFFFFF;">
                <a href="#"><i class="fa fa-suitcase" aria-hidden="true" style="text-decoration:none;color:#BB0826;font-size:30px"></i><br>
                    <span style="color:#BB0826;font-size:15px">Browse Jobs</span>
                </a>
            </li>
            <li style="text-align: center;" id="other">
                <a href="#"><i class="fa fa-inbox" aria-hidden="true" style="text-decoration:none;color:#BFC0BE;font-size:30px"></i><br>
                    <span style="color:#BFC0BE;font-size:13px" id="words">Saved Jobs</span>
                </a>
            </li>
            <li style="text-align: center;" id="other">
                <a href="#"><i class="fa fa-star-o" aria-hidden="true" style="text-decoration:none;color:#BFC0BE;font-size:30px"></i><br>
                     <span style="color:#BFC0BE;font-size:13px" id="words">Interested</span>
                </a>
            </li>
            <li style="text-align: center;" id="other">
                <a href="#"><i class="fa fa-wechat" aria-hidden="true" style="text-decoration:none;color:#BFC0BE;font-size:30px"></i><br>
                    <span style="color:#BFC0BE;font-size:13px" id="words">Matched</span>
                </a>
            </li>
            <li style="text-align: center;" id="other">
               <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true" style="text-decoration:none;color:#BFC0BE;font-size:30px"></i><br>
                     <span style="color:#BFC0BE;font-size:13px" id="words">Applied</span>
                </a>
            </li>
            <li style="text-align: center;" id="other">
               <a href="#"><i class="fa fa-history" aria-hidden="true" style="text-decoration:none;color:#BFC0BE;font-size:30px"></i><br>
                   <span style="color:#BFC0BE;font-size:13px" id="words">History</span>
               </a>
            </li>
            </ul>
        </div>

        <!--right Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="">
                <li style="text-align:center">
                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="text-decoration:none;color:#818181;font-size: 20px; margin-top:10px"></span>
                        <span style="color:#818181;font-size: 15px">Interested</span>
                </li>

            </ul>
        </div>

        <!--right hidden navbar-->
        <div id="sidebar-wrapper-rightNav" style="border-top: 8px solid white">
            <ul class="sidebar-nav" style="text-indent: 5px;">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="text-decoration:none;color:white;font-size: 20px"></span>
                        <h3>Interested</h3>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
<div class="row" style="text-align:center; margin-bottom:20px; margin-top:20px">
        <h3 >Job Recommendations</h3>
    </div>
    <div class="row" style="text-align:center;margin-bottom:10px">
        <h6 >Posting 4 of 10</h6>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-1">
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Senior Front End Developer/Lead WEB UI</h4>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button class="btn btn-sm btn-primary" style="color:white;"><strong>APPLY</strong></button>
                        </div>
                    </div>
                    <table>
                          <tr>
                              <th>
                              <h5>Information Technology & Services</h5>
                              </th>
                          </tr>
                         </table>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                            San Francisco, CA
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Brian Smith
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                            8/14/16
                        </div>
                        <div class="col-md-3">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            Contract
                        </div>
                    </div>
                    <hr style="border-color: #BB0826">
                    <h6 style="color: #BB0826">SKILLS REQUIRED</h6>
                    <p>Java, Angular, Restful Web Service, SOAP</p>
                    <hr style="border-color: #BB0826">
                    <h6 style="color: #BB0826">RESPONSIBILITIES</h6>
                    <p>- Work within an agile team that uses a scrum based product design process</p>
                    <p>- Able to work independently and in a team</p>
                    <p>- Proactively work with development leads and team members ...</p>
                    <h6 style="color: #BB0826">MORE</h6>
                </div>
                <div class="panel-footer" style="background-color:#44464A;color:white;text-align:center;">
                    <table style="width:100%; text-align:center; font-size:25px">
                          <tr>
                            <th style="text-align:center">
                                <a href="#" style="text-decoration:none;color:white">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                                <p style="font-size:9px">NOT FOR ME</p>
                            </th>
                            <th style="text-align:center">
                                <a href="#" style="text-decoration:none;color:white">
                                    <i class="fa fa-download" aria-hidden="true"></i></span>
                                </a>
                                <p style="font-size:9px">SAVE FOR LATER</p>
                            </th>
                            <th style="text-align:center">
                                <a href="#" style="text-decoration:none;color:white">
                                    <i class="fa fa-star-o" aria-hidden="true"></i></span>
                                </a>
                                <p style="font-size:9px">INTERESTED</p>
                            </th>
                          </tr>
                    </table>
                </div>
            </div>
                    </div>
                    <div class="col-md-2" style="text-align: right;padding-right: 0px;margin-top: 12%">
                            <a href="#menu-toggle" class="btn btn-sm btn-info" id="menu-toggle">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $("#rightNav").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("slider");
    });
    </script>

</body>

</html>
